<a href="https://colab.research.google.com/github/OmarFloresPTY/Pandas_Bundesliga_Analisis/blob/master/bundesliga_2005_to_2023_season.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BUNDESLIGA - Primera división del Fútbol Alemán 🟡⚫🔴⚽
<img src="https://is3-ssl.mzstatic.com/image/thumb/Purple126/v4/cc/b0/3b/ccb03bd7-1df2-9de0-7933-9fba47516663/AppIcon-0-1x_U007emarketing-0-7-0-85-220.png/1200x630wa.png" width=600> <img src="https://phantom-marca.unidadeditorial.es/3c1a8c687eb23f3e15aa791fd27b8803/crop/66x47/2046x1160/resize/1200/f/webp/assets/multimedia/imagenes/2022/05/08/16520367037523.jpg" width=600>

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_bundesliga = pd.read_csv("/content/drive/MyDrive/Pandas/Bundesliga_Seasons_2005_06-to-2022_23.csv")
df_bundesliga.head(5)

,Unnamed: 0,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,...,HOME_ICON,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,AWAY_ICON,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
0,0,2005-08-05 20:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,1. Spieltag,1,...,https://i.imgur.com/jJEsJrj.png,87,Borussia Mönchengladbach,Gladbach,https://i.imgur.com/KSIk0Eu.png,3,0,0.0,1.0,0.0
1,1,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Köln,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/en/thum...,81,1. FSV Mainz 05,Mainz,https://upload.wikimedia.org/wikipedia/commons...,1,0,0.0,1.0,0.0
2,2,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Duisburg,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/en/c/c8...,16,VfB Stuttgart,Stuttgart,https://i.imgur.com/v0tkpNx.png,1,1,1.0,0.0,0.0
3,3,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Hamburg,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/commons...,79,1. FC Nürnberg,Nürnberg,https://upload.wikimedia.org/wikipedia/commons...,3,0,0.0,1.0,0.0
4,4,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Wolfsburg,NaN,1. Spieltag,1,...,https://i.imgur.com/ucqKV4B.png,7,Borussia Dortmund,BVB,https://upload.wikimedia.org/wikipedia/commons...,2,2,1.0,0.0,0.0

## Información del dataFrame

In [5]:
df_bundesliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5508 entries, 0 to 5507
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5508 non-null   int64
 1   MATCH_DATE      5508 non-null   object
 2   LEAGUE_NAME     5508 non-null   object
 3   SEASON          5508 non-null   int64
 4   LEAGUE          5508 non-null   object
 5   FINISHED        5508 non-null   bool
 6   LOCATION        5508 non-null   object
 7   VIEWER          1682 non-null   float64
 8   MATCHDAY        5508 non-null   object
 9   MATCHDAY_NR     5508 non-null   int64
 10  HOME_TEAM_ID    5508 non-null   int64
 11  HOME_TEAM_NAME  5508 non-null   object
 12  HOME_TEAM       5508 non-null   object
 13  HOME_ICON       5508 non-null   object
 14  AWAY_TEAM_ID    5508 non-null   int64
 15  AWAY_TEAM_NAME  5508 non-null   object
 16  AWAY_TEAM       5474 non-null   object
 17  AWAY_ICON       5508 non-null   object
 18  GOALS_HOME      5508 non-null   int64
 19  GOALS_AWAY      5508 non-null   int64
 20  DRAW            5508 non-null   float64
 21  WIN_HOME        5508 non-null   float64
 22  WIN_AWAY        5508 non-null   float64
dtypes: bool(1), float64(4), int64(7), object(11)
memory usage: 952.2+ KB

In [ ]:
print('La forma del dataFrame es de',df_bundesliga.shape)
print(f'Tiene {df_bundesliga.shape[0]} filas y {df_bundesliga.shape[1]} columnas')

La forma del dataFrame es de (5508, 20)
Tiene 5508 filas y 20 columnas

In [ ]:
df_bundesliga.columns

Index(['Unnamed: 0', 'MATCH_DATE', 'LEAGUE_NAME', 'SEASON', 'LEAGUE',
       'FINISHED', 'LOCATION', 'VIEWER', 'MATCHDAY', 'MATCHDAY_NR',
       'HOME_TEAM_ID', 'HOME_TEAM_NAME', 'HOME_TEAM', 'HOME_ICON',
       'AWAY_TEAM_ID', 'AWAY_TEAM_NAME', 'AWAY_TEAM', 'AWAY_ICON',
       'GOALS_HOME', 'GOALS_AWAY', 'DRAW', 'WIN_HOME', 'WIN_AWAY'],
      dtype='object')

In [ ]:
df_bundesliga.memory_usage(deep=True)

Index                128
MATCH_DATE        418608
LEAGUE_NAME       560592
SEASON             44064
LEAGUE            330480
FINISHED            5508
LOCATION          376023
VIEWER             44064
MATCHDAY          378594
MATCHDAY_NR        44064
HOME_TEAM_ID       44064
HOME_TEAM_NAME    420002
HOME_TEAM         365177
AWAY_TEAM_ID       44064
AWAY_TEAM_NAME    420002
AWAY_TEAM         363987
GOALS_HOME         44064
GOALS_AWAY         44064
DRAW               44064
WIN_HOME           44064
WIN_AWAY           44064
dtype: int64

## Limpiar el DataFrame.
Eliminaremos la columna Unnamed ya que solo almacena el índice, otras columnas que vamos a eliminar son *'HOME_ICON'y 'AWAY_ICON'* ya que almacena los enlaces URL de los escudos de los equipos locales y visitantes. Las columnas se eliminaran del dataFrame.

In [8]:
df_bundesliga.drop(['Unnamed: 0','HOME_ICON','AWAY_ICON'],axis=1,inplace=True)

In [9]:
df_bundesliga.columns

Index(['MATCH_DATE', 'LEAGUE_NAME', 'SEASON', 'LEAGUE', 'FINISHED', 'LOCATION',
       'VIEWER', 'MATCHDAY', 'MATCHDAY_NR', 'HOME_TEAM_ID', 'HOME_TEAM_NAME',
       'HOME_TEAM', 'AWAY_TEAM_ID', 'AWAY_TEAM_NAME', 'AWAY_TEAM',
       'GOALS_HOME', 'GOALS_AWAY', 'DRAW', 'WIN_HOME', 'WIN_AWAY',
       'HOME_POINTS', 'AWAY_POINTS'],
      dtype='object')

In [11]:
df_bundesliga.tail(3)

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,16,VfB Stuttgart,Stuttgart,175,TSG 1899 Hoffenheim,Hoffenheim,1,1,1.0,0.0,0.0
5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,80,1. FC Union Berlin,Union Berlin,134,Werder Bremen,Bremen,1,0,0.0,1.0,0.0
5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,131,VfL Wolfsburg,Wolfsburg,54,Hertha BSC,Hertha,1,2,0.0,0.0,1.0

## Filtrando algunas columnas y filas

### **1. Filtrando solo los datos de la temporada 2022 y algunas columnas importantes**.

In [12]:
df_bundesliga.loc[5202:5507,['SEASON','MATCHDAY_NR','HOME_TEAM','AWAY_TEAM','DRAW','WIN_HOME','WIN_AWAY']]

      SEASON  MATCHDAY_NR     HOME_TEAM   AWAY_TEAM  DRAW  WIN_HOME  WIN_AWAY
5202    2022            1     Frankfurt      Bayern   0.0       0.0       1.0
5203    2022            1      Augsburg    Freiburg   0.0       0.0       1.0
5204    2022            1        Bochum       Mainz   0.0       0.0       1.0
5205    2022            1      Gladbach  Hoffenheim   0.0       1.0       0.0
5206    2022            1  Union Berlin      Hertha   0.0       1.0       0.0
...      ...          ...           ...         ...   ...       ...       ...
5503    2022           34          Köln      Bayern   0.0       0.0       1.0
5504    2022           34       Leipzig     Schalke   0.0       1.0       0.0
5505    2022           34     Stuttgart  Hoffenheim   1.0       0.0       0.0
5506    2022           34  Union Berlin      Bremen   0.0       1.0       0.0
5507    2022           34     Wolfsburg      Hertha   0.0       0.0       1.0

[306 rows x 7 columns]

In [48]:
df_filtrar_por_temporada = df_bundesliga['SEASON'] == 2022
df_bundesliga[df_filtrar_por_temporada]

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
5202,2022-08-05 20:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Frankfurt,NaN,1. Spieltag,1,91,Eintracht Frankfurt,Frankfurt,40,FC Bayern München,Bayern,1,6,0.0,0.0,1.0
5203,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Augsburg,NaN,1. Spieltag,1,95,FC Augsburg,Augsburg,112,SC Freiburg,Freiburg,0,4,0.0,0.0,1.0
5204,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Bochum,NaN,1. Spieltag,1,129,VfL Bochum,Bochum,81,1. FSV Mainz 05,Mainz,1,2,0.0,0.0,1.0
5205,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Gladbach,NaN,1. Spieltag,1,87,Borussia Mönchengladbach,Gladbach,175,TSG 1899 Hoffenheim,Hoffenheim,3,1,0.0,1.0,0.0
5206,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,1. Spieltag,1,80,1. FC Union Berlin,Union Berlin,54,Hertha BSC,Hertha,3,1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Köln,NaN,34. Spieltag,34,65,1. FC Köln,Köln,40,FC Bayern München,Bayern,1,2,0.0,0.0,1.0
5504,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Leipzig,NaN,34. Spieltag,34,1635,RB Leipzig,Leipzig,9,FC Schalke 04,Schalke,4,2,0.0,1.0,0.0
5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,16,VfB Stuttgart,Stuttgart,175,TSG 1899 Hoffenheim,Hoffenheim,1,1,1.0,0.0,0.0
5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,80,1. FC Union Berlin,Union Berlin,134,Werder Bremen,Bremen,1,0,0.0,1.0,0.0
5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,131,VfL Wolfsburg,Wolfsburg,54,Hertha BSC,Hertha,1,2,0.0,0.0,1.0

###**2. Filtrando a equipos que perdieron de locales en la primera jornada de la Bundesliga en la temporada 2022**.

In [49]:
df_noWinHome = (df_bundesliga['SEASON'] == 2022) & (df_bundesliga['WIN_HOME'] == 0) & (df_bundesliga['MATCHDAY_NR'] == 1)
df_equipo = df_bundesliga[df_noWinHome][['MATCH_DATE','SEASON','MATCHDAY_NR','LOCATION','HOME_TEAM_NAME','AWAY_TEAM_NAME','GOALS_HOME','GOALS_AWAY']]
df_equipo

,MATCH_DATE,SEASON,MATCHDAY_NR,LOCATION,HOME_TEAM_NAME,AWAY_TEAM_NAME,GOALS_HOME,GOALS_AWAY
5202,2022-08-05 20:30:00,2022,1,Frankfurt,Eintracht Frankfurt,FC Bayern München,1,6
5203,2022-08-06 15:30:00,2022,1,Augsburg,FC Augsburg,SC Freiburg,0,4
5204,2022-08-06 15:30:00,2022,1,Bochum,VfL Bochum,1. FSV Mainz 05,1,2
5207,2022-08-06 15:30:00,2022,1,Wolfsburg,VfL Wolfsburg,Werder Bremen,2,2
5209,2022-08-07 15:30:00,2022,1,Stuttgart,VfB Stuttgart,RB Leipzig,1,1

###**3. Filtrar las veces que se han jugado en las ciudades alemanas durante la temporada 2005 hasta la temporada 2023.**

In [50]:
df_location_count = pd.DataFrame(df_bundesliga['LOCATION'].value_counts())
df_location_count = df_location_count.reset_index().rename(columns={'index':'LOCATION','LOCATION':'COUNT'})
df_location_count

          LOCATION  COUNT
0           Berlin    340
1          München    306
2        Wolfsburg    306
3         Dortmund    306
4       Leverkusen    306
5         Gladbach    289
6           Bremen    289
7    Gelsenkirchen    289
8        Frankfurt    289
9            Mainz    272
10       Stuttgart    272
11        Sinsheim    255
12         Hamburg    238
13        Hannover    221
14        Freiburg    221
15            Köln    221
16        Augsburg    204
17        Nürnberg    153
18         Leipzig    119
19          Bochum    102
20       Bielefeld    102
21         Cottbus     51
22  Kaiserslautern     51
23      Düsseldorf     51
24       Karlsruhe     34
25        Duisburg     34
26           Fürth     34
27       Paderborn     34
28       Darmstadt     34
29      Ingolstadt     34
30          Aachen     17
31    Braunschweig     17
32         Rostock     17

###4.Filtrar el rendimiento del Borussia Dortmund en las últimas 5 jornadas desde la temporada 2005 a la temporada 2022

In [52]:
df_bvd_final_season = df_bundesliga[(df_bundesliga['MATCHDAY_NR'] >= 30) & (df_bundesliga['MATCHDAY_NR'] <= 34) ].loc[(df_bundesliga.HOME_TEAM_NAME == 'Borussia Dortmund') | (df_bundesliga.AWAY_TEAM_NAME == 'Borussia Dortmund')]
df_bvd_final_season

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
263,2006-04-15 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Berlin,NaN,30. Spieltag,30,54,Hertha BSC,Hertha,7,Borussia Dortmund,BVB,0,0,1.0,0.0,0.0
274,2006-04-22 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Dortmund,NaN,31. Spieltag,31,7,Borussia Dortmund,BVB,79,1. FC Nürnberg,Nürnberg,2,1,0.0,1.0,0.0
281,2006-05-02 20:00:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Hannover,NaN,32. Spieltag,32,55,Hannover 96,Hannover,7,Borussia Dortmund,BVB,1,2,0.0,0.0,1.0
295,2006-05-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Dortmund,NaN,33. Spieltag,33,7,Borussia Dortmund,BVB,91,Eintracht Frankfurt,Frankfurt,1,1,1.0,0.0,0.0
299,2006-05-13 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,34. Spieltag,34,40,FC Bayern München,Bayern,7,Borussia Dortmund,BVB,3,3,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5463,2023-04-28 20:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Bochum,NaN,30. Spieltag,30,129,VfL Bochum,Bochum,7,Borussia Dortmund,BVB,1,1,1.0,0.0,0.0
5480,2023-05-07 17:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Dortmund,NaN,31. Spieltag,31,7,Borussia Dortmund,BVB,131,VfL Wolfsburg,Wolfsburg,6,0,0.0,1.0,0.0
5487,2023-05-13 18:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Dortmund,NaN,32. Spieltag,32,7,Borussia Dortmund,BVB,87,Borussia Mönchengladbach,Gladbach,5,2,0.0,1.0,0.0
5497,2023-05-21 17:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Augsburg,NaN,33. Spieltag,33,95,FC Augsburg,Augsburg,7,Borussia Dortmund,BVB,0,3,0.0,0.0,1.0
5500,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Dortmund,NaN,34. Spieltag,34,7,Borussia Dortmund,BVB,81,1. FSV Mainz 05,Mainz,2,2,1.0,0.0,0.0

###5.Estadística de goles, partidos empatados, victorias de local y visitante

In [75]:
df_bundesliga.groupby('SEASON').agg({'GOALS_HOME':['sum','mean'],
                                     'GOALS_AWAY':['sum','mean'],
                                     'DRAW':'sum',
                                     'WIN_HOME':'sum',
                                     'WIN_AWAY':'sum'
                                     })

       GOALS_HOME           GOALS_AWAY             DRAW WIN_HOME WIN_AWAY
              sum      mean        sum      mean    sum      sum      sum
SEASON
2005          492  1.607843        369  1.205882   96.0    131.0     79.0
2006          448  1.464052        389  1.271242   79.0    134.0     93.0
2007          511  1.669935        349  1.140523   78.0    143.0     85.0
2008          520  1.699346        374  1.222222   74.0    147.0     85.0
2009          463  1.513072        403  1.316993   86.0    125.0     95.0
2010          504  1.647059        390  1.274510   63.0    141.0    102.0
2011          508  1.660131        367  1.199346   79.0    139.0     88.0
2012          487  1.591503        411  1.343137   78.0    130.0     98.0
2013          535  1.748366        432  1.411765   64.0    145.0     97.0
2014          486  1.588235        357  1.166667   82.0    145.0     79.0
2015          209  0.683007        168  0.549020  125.0    100.0     81.0
2016          226  0.738562        154  0.503268  132.0    116.0     58.0
2017          232  0.758170        150  0.490196  109.0    127.0     70.0
2018          230  0.751634        174  0.568627  118.0    106.0     82.0
2019          209  0.683007        204  0.666667  109.0     99.0     98.0
2020          513  1.676471        415  1.356209   81.0    129.0     96.0
2021          539  1.761438        415  1.356209   73.0    143.0     90.0
2022          568  1.856209        403  1.316993   75.0    145.0     86.0

In [62]:
df_bundesliga.loc[df_bundesliga.AWAY_TEAM_NAME == 'Borussia Dortmund'].groupby('SEASON').agg({'GOALS_HOME':['sum','mean'],
                                     'GOALS_AWAY':['sum','mean'],
                                     'DRAW':'sum',
                                     'WIN_HOME':'sum',
                                     'WIN_AWAY':'sum'
                                     })

       GOALS_HOME           GOALS_AWAY           DRAW WIN_HOME WIN_AWAY
              sum      mean        sum      mean  sum      sum      sum
SEASON
2005           24  1.411765         22  1.294118  9.0      5.0      3.0
2006           26  1.529412         22  1.294118  2.0      9.0      6.0
2007           38  2.235294         21  1.235294  5.0      9.0      3.0
2008           26  1.529412         26  1.529412  5.0      5.0      7.0
2009           28  1.647059         25  1.470588  5.0      6.0      6.0
2010           14  0.823529         32  1.882353  2.0      4.0     11.0
2011           13  0.764706         36  2.117647  4.0      2.0     11.0
2012           23  1.352941         41  2.411765  6.0      2.0      9.0
2013           19  1.117647         39  2.294118  3.0      3.0     11.0
2014           27  1.588235         21  1.235294  4.0      9.0      4.0
2015            9  0.529412         13  0.764706  5.0      4.0      8.0
2016           12  0.705882         13  0.764706  6.0      6.0      5.0
2017           13  0.764706         12  0.705882  7.0      4.0      6.0
2018           12  0.705882         12  0.705882  4.0      6.0      7.0
2019            8  0.470588         12  0.705882  7.0      3.0      7.0
2020           26  1.529412         35  2.058824  2.0      6.0      9.0
2021           24  1.411765         33  1.941176  3.0      5.0      9.0
2022           27  1.588235         28  1.647059  3.0      6.0      8.0

In [63]:
df_bundesliga.loc[df_bundesliga.AWAY_TEAM_NAME == 'FC Bayern München'].groupby('SEASON').agg({'GOALS_HOME':['sum','mean'],
                                     'GOALS_AWAY':['sum','mean'],
                                     'DRAW':'sum',
                                     'WIN_HOME':'sum',
                                     'WIN_AWAY':'sum'
                                     })

       GOALS_HOME           GOALS_AWAY           DRAW WIN_HOME WIN_AWAY
              sum      mean        sum      mean  sum      sum      sum
SEASON
2005           18  1.058824         25  1.470588  7.0      2.0      8.0
2006           26  1.529412         26  1.529412  2.0      8.0      7.0
2007           13  0.764706         27  1.588235  5.0      2.0     10.0
2008           19  1.117647         26  1.529412  5.0      4.0      8.0
2009           18  1.058824         33  1.941176  6.0      3.0      8.0
2010           27  1.588235         33  1.941176  6.0      5.0      6.0
2011           16  0.941176         28  1.647059  3.0      5.0      9.0
2012            7  0.411765         42  2.470588  2.0      0.0     15.0
2013            8  0.470588         46  2.705882  2.0      1.0     14.0
2014           11  0.647059         34  2.000000  3.0      3.0     11.0
2015            3  0.176471         11  0.647059  9.0      0.0      8.0
2016            8  0.470588         13  0.764706  8.0      4.0      5.0
2017            7  0.411765         14  0.823529  5.0      4.0      8.0
2018            7  0.411765         19  1.117647  5.0      1.0     11.0
2019            6  0.352941         27  1.588235  4.0      1.0     12.0
2020           23  1.352941         35  2.058824  2.0      4.0     11.0
2021           22  1.294118         49  2.882353  3.0      3.0     11.0
2022           21  1.235294         39  2.294118  3.0      4.0     10.0

In [76]:
df_bundesliga.head(5)

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
0,2005-08-05 20:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,1. Spieltag,1,40,FC Bayern München,Bayern,87,Borussia Mönchengladbach,Gladbach,3,0,0.0,1.0,0.0
1,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Köln,NaN,1. Spieltag,1,65,1. FC Köln,Köln,81,1. FSV Mainz 05,Mainz,1,0,0.0,1.0,0.0
2,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Duisburg,NaN,1. Spieltag,1,107,MSV Duisburg,Duisburg,16,VfB Stuttgart,Stuttgart,1,1,1.0,0.0,0.0
3,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Hamburg,NaN,1. Spieltag,1,100,Hamburger SV,HSV,79,1. FC Nürnberg,Nürnberg,3,0,0.0,1.0,0.0
4,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Wolfsburg,NaN,1. Spieltag,1,131,VfL Wolfsburg,Wolfsburg,7,Borussia Dortmund,BVB,2,2,1.0,0.0,0.0

###6.Calcular los puntos obtenidos por cada equipo en las diferentes jornadas de todas las temporadas.

In [21]:
def point_team(win,draw):
  if win == 1:
    return win * 3
  elif draw == 1:
    return draw
  else:
    return 0

In [24]:
df_bundesliga['HOME_POINTS'] = df_bundesliga[['WIN_HOME','DRAW']].apply(lambda row: point_team(row['WIN_HOME'],row['DRAW']),axis=1)
df_bundesliga['AWAY_POINTS'] = df_bundesliga[['WIN_AWAY','DRAW']].apply(lambda row: point_team(row['WIN_AWAY'],row['DRAW']),axis=1)

In [43]:
df_bundesliga.tail(10)

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,...,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY,HOME_POINTS,AWAY_POINTS
5498,2023-05-21 19:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Leverkusen,NaN,33. Spieltag,33,6,...,87,Borussia Mönchengladbach,Gladbach,2,2,1.0,0.0,0.0,1.0,1.0
5499,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Bochum,NaN,34. Spieltag,34,129,...,6,Bayer Leverkusen,Leverkusen,3,0,0.0,1.0,0.0,3.0,0.0
5500,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Dortmund,NaN,34. Spieltag,34,7,...,81,1. FSV Mainz 05,Mainz,2,2,1.0,0.0,0.0,1.0,1.0
5501,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Gladbach,NaN,34. Spieltag,34,87,...,95,FC Augsburg,Augsburg,2,0,0.0,1.0,0.0,3.0,0.0
5502,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Frankfurt,NaN,34. Spieltag,34,91,...,112,SC Freiburg,Freiburg,2,1,0.0,1.0,0.0,3.0,0.0
5503,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Köln,NaN,34. Spieltag,34,65,...,40,FC Bayern München,Bayern,1,2,0.0,0.0,1.0,0.0,3.0
5504,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Leipzig,NaN,34. Spieltag,34,1635,...,9,FC Schalke 04,Schalke,4,2,0.0,1.0,0.0,3.0,0.0
5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,16,...,175,TSG 1899 Hoffenheim,Hoffenheim,1,1,1.0,0.0,0.0,1.0,1.0
5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,80,...,134,Werder Bremen,Bremen,1,0,0.0,1.0,0.0,3.0,0.0
5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,131,...,54,Hertha BSC,Hertha,1,2,0.0,0.0,1.0,0.0,3.0

###7.Calcular los puntos adquiridos jugando de locales en la temporada 2022-2023

In [69]:
df_HOME_BDL = df_bundesliga.loc[df_bundesliga.MATCH_DATE >='2022-08-05'].groupby(['HOME_TEAM_NAME']).agg({
                                     'DRAW':'sum',
                                     'WIN_HOME':'sum',
                                     'HOME_POINTS':'sum'
                                     }).sort_values('HOME_POINTS',ascending=False)
df_HOME_BDL = df_HOME_BDL.rename(columns={'DRAW':'DRAW_HOME'})
df_HOME_BDL

                          DRAW_HOME  WIN_HOME  HOME_POINTS
HOME_TEAM_NAME
Borussia Dortmund               2.0      14.0         44.0
RB Leipzig                      2.0      13.0         41.0
1. FC Union Berlin              6.0      11.0         39.0
FC Bayern München               5.0      11.0         38.0
SC Freiburg                     4.0      10.0         34.0
Borussia Mönchengladbach        3.0      10.0         33.0
Eintracht Frankfurt             5.0       9.0         32.0
Bayer Leverkusen                3.0       8.0         27.0
VfL Bochum                      2.0       8.0         26.0
VfL Wolfsburg                   7.0       6.0         25.0
1. FSV Mainz 05                 6.0       6.0         24.0
1. FC Köln                      5.0       6.0         23.0
TSG 1899 Hoffenheim             2.0       7.0         23.0
FC Augsburg                     4.0       6.0         22.0
Hertha BSC                      6.0       5.0         21.0
VfB Stuttgart                   6.0       5.0         21.0
FC Schalke 04                   5.0       5.0         20.0
Werder Bremen                   2.0       5.0         17.0

###8.Calcular los puntos adquiridos jugando de locales en la temporada 2022-2023

In [70]:
df_AWAY_BDL = df_bundesliga.loc[df_bundesliga.MATCH_DATE >='2022-08-05'].groupby(['AWAY_TEAM_NAME']).agg({
                                     'DRAW':'sum',
                                     'WIN_AWAY':'sum',
                                     'AWAY_POINTS':'sum'
                                     }).sort_values('AWAY_POINTS',ascending=False)
df_AWAY_BDL= df_AWAY_BDL.rename(columns={'DRAW':'DRAW_AWAY'})
df_AWAY_BDL

                          DRAW_AWAY  WIN_AWAY  AWAY_POINTS
AWAY_TEAM_NAME
FC Bayern München               3.0      10.0         33.0
Borussia Dortmund               3.0       8.0         27.0
SC Freiburg                     4.0       7.0         25.0
RB Leipzig                      4.0       7.0         25.0
VfL Wolfsburg                   3.0       7.0         24.0
1. FC Union Berlin              2.0       7.0         23.0
Bayer Leverkusen                5.0       6.0         23.0
1. FSV Mainz 05                 4.0       6.0         22.0
1. FC Köln                      7.0       4.0         19.0
Werder Bremen                   4.0       5.0         19.0
Eintracht Frankfurt             6.0       4.0         18.0
TSG 1899 Hoffenheim             4.0       3.0         13.0
FC Augsburg                     3.0       3.0         12.0
VfB Stuttgart                   6.0       2.0         12.0
FC Schalke 04                   5.0       2.0         11.0
Borussia Mönchengladbach        7.0       1.0         10.0
VfL Bochum                      3.0       2.0          9.0
Hertha BSC                      2.0       2.0          8.0

###9.TABLA DE CLASIFICACIÓN TEMPORADA 2022-2023

In [76]:
bf_season_2022_2023 = pd.concat([df_HOME_BDL,df_AWAY_BDL],axis=1)
bf_season_2022_2023 = bf_season_2022_2023.reset_index().rename(columns={'index':'SEASON 2022-2023'})
bf_season_2022_2023['POINTS_SEASON'] = bf_season_2022_2023['HOME_POINTS'] + bf_season_2022_2023['AWAY_POINTS']
bf_season_2022_2023.sort_values('POINTS_SEASON',ascending=False)

,SEASON 2022-2023,DRAW_HOME,WIN_HOME,HOME_POINTS,DRAW_AWAY,WIN_AWAY,AWAY_POINTS,POINTS_SEASON
0,Borussia Dortmund,2.0,14.0,44.0,3.0,8.0,27.0,71.0
3,FC Bayern München,5.0,11.0,38.0,3.0,10.0,33.0,71.0
1,RB Leipzig,2.0,13.0,41.0,4.0,7.0,25.0,66.0
2,1. FC Union Berlin,6.0,11.0,39.0,2.0,7.0,23.0,62.0
4,SC Freiburg,4.0,10.0,34.0,4.0,7.0,25.0,59.0
7,Bayer Leverkusen,3.0,8.0,27.0,5.0,6.0,23.0,50.0
6,Eintracht Frankfurt,5.0,9.0,32.0,6.0,4.0,18.0,50.0
9,VfL Wolfsburg,7.0,6.0,25.0,3.0,7.0,24.0,49.0
10,1. FSV Mainz 05,6.0,6.0,24.0,4.0,6.0,22.0,46.0
5,Borussia Mönchengladbach,3.0,10.0,33.0,7.0,1.0,10.0,43.0
11,1. FC Köln,5.0,6.0,23.0,7.0,4.0,19.0,42.0
12,TSG 1899 Hoffenheim,2.0,7.0,23.0,4.0,3.0,13.0,36.0
17,Werder Bremen,2.0,5.0,17.0,4.0,5.0,19.0,36.0
8,VfL Bochum,2.0,8.0,26.0,3.0,2.0,9.0,35.0
13,FC Augsburg,4.0,6.0,22.0,3.0,3.0,12.0,34.0
15,VfB Stuttgart,6.0,5.0,21.0,6.0,2.0,12.0,33.0
16,FC Schalke 04,5.0,5.0,20.0,5.0,2.0,11.0,31.0
14,Hertha BSC,6.0,5.0,21.0,2.0,2.0,8.0,29.0