<a href="https://colab.research.google.com/github/OmarFloresPTY/Pandas_Bundesliga_Analisis/blob/master/bundesliga_2005_to_2023_season.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BUNDESLIGA - Primera división del Fútbol Alemán 🟡⚫🔴⚽
<img src="https://is3-ssl.mzstatic.com/image/thumb/Purple126/v4/cc/b0/3b/ccb03bd7-1df2-9de0-7933-9fba47516663/AppIcon-0-1x_U007emarketing-0-7-0-85-220.png/1200x630wa.png" width=600> <img src="https://phantom-marca.unidadeditorial.es/3c1a8c687eb23f3e15aa791fd27b8803/crop/66x47/2046x1160/resize/1200/f/webp/assets/multimedia/imagenes/2022/05/08/16520367037523.jpg" width=600>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bundesliga = pd.read_csv("/content/drive/MyDrive/Pandas/Bundesliga_Seasons_2005_06-to-2022_23.csv")
df_bundesliga.head(5)

,Unnamed: 0,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,...,HOME_ICON,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,AWAY_ICON,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
0,0,2005-08-05 20:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,1. Spieltag,1,...,https://i.imgur.com/jJEsJrj.png,87,Borussia Mönchengladbach,Gladbach,https://i.imgur.com/KSIk0Eu.png,3,0,0.0,1.0,0.0
1,1,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Köln,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/en/thum...,81,1. FSV Mainz 05,Mainz,https://upload.wikimedia.org/wikipedia/commons...,1,0,0.0,1.0,0.0
2,2,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Duisburg,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/en/c/c8...,16,VfB Stuttgart,Stuttgart,https://i.imgur.com/v0tkpNx.png,1,1,1.0,0.0,0.0
3,3,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Hamburg,NaN,1. Spieltag,1,...,https://upload.wikimedia.org/wikipedia/commons...,79,1. FC Nürnberg,Nürnberg,https://upload.wikimedia.org/wikipedia/commons...,3,0,0.0,1.0,0.0
4,4,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Wolfsburg,NaN,1. Spieltag,1,...,https://i.imgur.com/ucqKV4B.png,7,Borussia Dortmund,BVB,https://upload.wikimedia.org/wikipedia/commons...,2,2,1.0,0.0,0.0

## Información del dataFrame

In [ ]:
df_bundesliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5508 entries, 0 to 5507
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MATCH_DATE      5508 non-null   object
 1   LEAGUE_NAME     5508 non-null   object
 2   SEASON          5508 non-null   int64
 3   LEAGUE          5508 non-null   object
 4   FINISHED        5508 non-null   bool
 5   LOCATION        5508 non-null   object
 6   VIEWER          1682 non-null   float64
 7   MATCHDAY        5508 non-null   object
 8   MATCHDAY_NR     5508 non-null   int64
 9   HOME_TEAM_ID    5508 non-null   int64
 10  HOME_TEAM_NAME  5508 non-null   object
 11  HOME_TEAM       5508 non-null   object
 12  AWAY_TEAM_ID    5508 non-null   int64
 13  AWAY_TEAM_NAME  5508 non-null   object
 14  AWAY_TEAM       5474 non-null   object
 15  GOALS_HOME      5508 non-null   int64
 16  GOALS_AWAY      5508 non-null   int64
 17  DRAW            5508 non-null   float64
 18  WIN_HOME        5508 non-null   float64
 19  WIN_AWAY        5508 non-null   float64
dtypes: bool(1), float64(4), int64(6), object(9)
memory usage: 823.1+ KB

In [ ]:
print('La forma del dataFrame es de',df_bundesliga.shape)
print(f'Tiene {df_bundesliga.shape[0]} filas y {df_bundesliga.shape[1]} columnas')

La forma del dataFrame es de (5508, 20)
Tiene 5508 filas y 20 columnas

In [ ]:
df_bundesliga.columns

Index(['Unnamed: 0', 'MATCH_DATE', 'LEAGUE_NAME', 'SEASON', 'LEAGUE',
       'FINISHED', 'LOCATION', 'VIEWER', 'MATCHDAY', 'MATCHDAY_NR',
       'HOME_TEAM_ID', 'HOME_TEAM_NAME', 'HOME_TEAM', 'HOME_ICON',
       'AWAY_TEAM_ID', 'AWAY_TEAM_NAME', 'AWAY_TEAM', 'AWAY_ICON',
       'GOALS_HOME', 'GOALS_AWAY', 'DRAW', 'WIN_HOME', 'WIN_AWAY'],
      dtype='object')

In [ ]:
df_bundesliga.memory_usage(deep=True)

Index                128
MATCH_DATE        418608
LEAGUE_NAME       560592
SEASON             44064
LEAGUE            330480
FINISHED            5508
LOCATION          376023
VIEWER             44064
MATCHDAY          378594
MATCHDAY_NR        44064
HOME_TEAM_ID       44064
HOME_TEAM_NAME    420002
HOME_TEAM         365177
AWAY_TEAM_ID       44064
AWAY_TEAM_NAME    420002
AWAY_TEAM         363987
GOALS_HOME         44064
GOALS_AWAY         44064
DRAW               44064
WIN_HOME           44064
WIN_AWAY           44064
dtype: int64

## Limpiar el DataFrame.
Eliminaremos la columna Unnamed ya que solo almacena el índice, otras columnas que vamos a eliminar son *'HOME_ICON'y 'AWAY_ICON'* ya que almacena los enlaces URL de los escudos de los equipos locales y visitantes. Las columnas se eliminaran del dataFrame.

In [ ]:
df_bundesliga.drop(['Unnamed: 0','HOME_ICON','AWAY_ICON'],axis=1,inplace=True)

In [ ]:
df_bundesliga.columns

Index(['MATCH_DATE', 'LEAGUE_NAME', 'SEASON', 'LEAGUE', 'FINISHED', 'LOCATION',
       'VIEWER', 'MATCHDAY', 'MATCHDAY_NR', 'HOME_TEAM_ID', 'HOME_TEAM_NAME',
       'HOME_TEAM', 'AWAY_TEAM_ID', 'AWAY_TEAM_NAME', 'AWAY_TEAM',
       'GOALS_HOME', 'GOALS_AWAY', 'DRAW', 'WIN_HOME', 'WIN_AWAY'],
      dtype='object')

In [ ]:
df_bundesliga.tail(3)

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,16,VfB Stuttgart,Stuttgart,175,TSG 1899 Hoffenheim,Hoffenheim,1,1,1.0,0.0,0.0
5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,80,1. FC Union Berlin,Union Berlin,134,Werder Bremen,Bremen,1,0,0.0,1.0,0.0
5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,131,VfL Wolfsburg,Wolfsburg,54,Hertha BSC,Hertha,1,2,0.0,0.0,1.0

## Filtrando algunas columnas y filas

**1. Filtrando solo los datos de la temporada 2022 y algunas columnas importantes**.

In [ ]:
df_bundesliga.loc[5202:5507,['SEASON','MATCHDAY_NR','HOME_TEAM','AWAY_TEAM','DRAW','WIN_HOME','WIN_AWAY']]

      SEASON  MATCHDAY_NR     HOME_TEAM   AWAY_TEAM  DRAW  WIN_HOME  WIN_AWAY
5202    2022            1     Frankfurt      Bayern   0.0       0.0       1.0
5203    2022            1      Augsburg    Freiburg   0.0       0.0       1.0
5204    2022            1        Bochum       Mainz   0.0       0.0       1.0
5205    2022            1      Gladbach  Hoffenheim   0.0       1.0       0.0
5206    2022            1  Union Berlin      Hertha   0.0       1.0       0.0
...      ...          ...           ...         ...   ...       ...       ...
5503    2022           34          Köln      Bayern   0.0       0.0       1.0
5504    2022           34       Leipzig     Schalke   0.0       1.0       0.0
5505    2022           34     Stuttgart  Hoffenheim   1.0       0.0       0.0
5506    2022           34  Union Berlin      Bremen   0.0       1.0       0.0
5507    2022           34     Wolfsburg      Hertha   0.0       0.0       1.0

[306 rows x 7 columns]

In [ ]:
df_filtrar_por_temporada = (df_bundesliga['SEASON'] == 2022)
df_filtrar_por_temporada

In [ ]:
df_bundesliga[df_filtrar_por_temporada]

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
5202,2022-08-05 20:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Frankfurt,NaN,1. Spieltag,1,91,Eintracht Frankfurt,Frankfurt,40,FC Bayern München,Bayern,1,6,0.0,0.0,1.0
5203,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Augsburg,NaN,1. Spieltag,1,95,FC Augsburg,Augsburg,112,SC Freiburg,Freiburg,0,4,0.0,0.0,1.0
5204,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Bochum,NaN,1. Spieltag,1,129,VfL Bochum,Bochum,81,1. FSV Mainz 05,Mainz,1,2,0.0,0.0,1.0
5205,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Gladbach,NaN,1. Spieltag,1,87,Borussia Mönchengladbach,Gladbach,175,TSG 1899 Hoffenheim,Hoffenheim,3,1,0.0,1.0,0.0
5206,2022-08-06 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,1. Spieltag,1,80,1. FC Union Berlin,Union Berlin,54,Hertha BSC,Hertha,3,1,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Köln,NaN,34. Spieltag,34,65,1. FC Köln,Köln,40,FC Bayern München,Bayern,1,2,0.0,0.0,1.0
5504,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Leipzig,NaN,34. Spieltag,34,1635,RB Leipzig,Leipzig,9,FC Schalke 04,Schalke,4,2,0.0,1.0,0.0
5505,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Stuttgart,NaN,34. Spieltag,34,16,VfB Stuttgart,Stuttgart,175,TSG 1899 Hoffenheim,Hoffenheim,1,1,1.0,0.0,0.0
5506,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Berlin,NaN,34. Spieltag,34,80,1. FC Union Berlin,Union Berlin,134,Werder Bremen,Bremen,1,0,0.0,1.0,0.0
5507,2023-05-27 15:30:00,1. Fußball-Bundesliga 2022/2023,2022,bl1,True,Wolfsburg,NaN,34. Spieltag,34,131,VfL Wolfsburg,Wolfsburg,54,Hertha BSC,Hertha,1,2,0.0,0.0,1.0

**2. Filtrando a equipos que perdieron de locales en la primera jornada de la Bundesliga en la temporada 2022**

In [ ]:
df_noWinHome = df_bundesliga.loc[5202:5210,['WIN_HOME']] == 0
df_noWinHome

      WIN_HOME
5202      True
5203      True
5204      True
5205     False
5206     False
5207      True
5208     False
5209      True
5210     False

In [ ]:
df_noWinHome = (df_bundesliga['SEASON'] == 2022) & (df_bundesliga['WIN_HOME'] == 0) & (df_bundesliga['MATCHDAY_NR'] == 1)
df_equipo = df_bundesliga[df_noWinHome][['MATCH_DATE','SEASON','MATCHDAY_NR','LOCATION','HOME_TEAM_NAME','AWAY_TEAM_NAME','GOALS_HOME','GOALS_AWAY']]
df_equipo

,MATCH_DATE,SEASON,MATCHDAY_NR,LOCATION,HOME_TEAM_NAME,AWAY_TEAM_NAME,GOALS_HOME,GOALS_AWAY
5202,2022-08-05 20:30:00,2022,1,Frankfurt,Eintracht Frankfurt,FC Bayern München,1,6
5203,2022-08-06 15:30:00,2022,1,Augsburg,FC Augsburg,SC Freiburg,0,4
5204,2022-08-06 15:30:00,2022,1,Bochum,VfL Bochum,1. FSV Mainz 05,1,2
5207,2022-08-06 15:30:00,2022,1,Wolfsburg,VfL Wolfsburg,Werder Bremen,2,2
5209,2022-08-07 15:30:00,2022,1,Stuttgart,VfB Stuttgart,RB Leipzig,1,1

**3. Filtrar las veces que se han jugado en esas ciudades durante la temporada 2005 hasta la temporada 2023.**

In [ ]:
df_bundesliga.head(3)

,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
0,2005-08-05 20:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,1. Spieltag,1,40,FC Bayern München,Bayern,87,Borussia Mönchengladbach,Gladbach,3,0,0.0,1.0,0.0
1,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Köln,NaN,1. Spieltag,1,65,1. FC Köln,Köln,81,1. FSV Mainz 05,Mainz,1,0,0.0,1.0,0.0
2,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Duisburg,NaN,1. Spieltag,1,107,MSV Duisburg,Duisburg,16,VfB Stuttgart,Stuttgart,1,1,1.0,0.0,0.0

In [ ]:
location_count = pd.DataFrame(df_bundesliga['LOCATION'].value_counts())
df_location_count = location_count.reset_index().rename(columns={'index':'LOCATION',
                                             'LOCATION':'COUNT'})
df_location_count

          LOCATION  COUNT
0           Berlin    340
1          München    306
2        Wolfsburg    306
3         Dortmund    306
4       Leverkusen    306
5         Gladbach    289
6           Bremen    289
7    Gelsenkirchen    289
8        Frankfurt    289
9            Mainz    272
10       Stuttgart    272
11        Sinsheim    255
12         Hamburg    238
13        Hannover    221
14        Freiburg    221
15            Köln    221
16        Augsburg    204
17        Nürnberg    153
18         Leipzig    119
19          Bochum    102
20       Bielefeld    102
21         Cottbus     51
22  Kaiserslautern     51
23      Düsseldorf     51
24       Karlsruhe     34
25        Duisburg     34
26           Fürth     34
27       Paderborn     34
28       Darmstadt     34
29      Ingolstadt     34
30          Aachen     17
31    Braunschweig     17
32         Rostock     17